services:
  - type: web
    name: karanka-deriv-bot
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: PORT
        value: 5000
      - key: PYTHONUNBUFFERED
        value: 1
